
  .mobile-menu-bar {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: column;
    box-sizing: border-box;
    // height:20%;
    width:100%;
    padding-top: 4px;
    background-color: #fff;
    z-index: 999;
  }

  .mobile-top-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #fff;
  }

  .mobile-top-menu > img {
      height: 52px;
  }

  .mobile-top-menu > #menu-logo {
    position: absolute;
    top: 0;
    right: 8px;
    width: 18px;
  }

  .mobile-main-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      padding: 1vh 0px 0vh 0px;
      font-size: 16px;
      font-weight: 500;
      background-color: #fff;
  }

  .mobile-main-menu > .horizontal-scroll {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
}

.menu-item {
    width: 25vw;
    height: 32px;
}

.mobile-profile-img-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    right: 14px;
    width: 30px;
    height: 30px; 
    text-align: center;
    border-radius: 70%;
    overflow:hidden;
    border: 1.5px solid #c4c4c480;
    background-color: #fff;
}

.profile {
    object-fit:cover;
    width: 30px;
    height: 30px; 
}

.react-horizontal-scrolling-menu--wrapper {
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0px;
  }

  .react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }