@import './common/menu.scss';
@import './common/content.scss';
@import './common/modal.scss';
@import './common/home.scss';
@import './common/investment.scss';
@import './common/ranking.scss';
@import './common/color.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

 * { 
    font-family: 'Noto Sans KR', sans-serif;
   }

html{
    background-color: $background;
}

body{
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 0px;
}

.container {
    padding: 40px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: $background;
}

.main-layout{
    width: 830px;
    height: fit-content;
    margin: 0;
    background-color: $background;
    text-align: center;
}

.page{
    position: relative;
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    margin: 0;
}

.tablet{
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 100vh;
    margin: 0;
}

.tablet{
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 100vh;
    margin: 0;
}