@import './common/menu.scss';
@import './common/content.scss';

.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    text-align: center;
}

.page{
    display: inline-flex;
    box-sizing: border-box;
    width: 70%;
    height: 100vh;
    margin: 0;
    border: 5px solid black;
}