$gold:#DCC605;
$silver:#BBBAB8;
$bronze:#8F5600;
$selectedcomponent:#C4C4C4;
$component:#464D52;
$increasedrate:#FF0000;
$decreasedrate:#001AFF;
$font-color: #464D52;
$selected-menu: #6C6FC6;
$background: #fafafa;