@import './color.scss';
@import './profile.scss';
@import './asset.scss';

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 730px;
    box-sizing: border-box;
    // border: 5px solid skyblue;
}

.tablet-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    border: 5px solid skyblue;
}