@import './color.scss';
@import './profile.scss';
@import './asset.scss';

.content{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 510px;
    box-sizing: border-box;
}

.mobile-content{
    position: relative;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:fit-content;
}