@import './color.scss';

ul.home-tickerbox {
  width: 100%;
  display: block;
  padding: 0%;
  margin: 0% 0% 8px 0%;
  background-color: #fff;
  border: 1px solid #c4c4c420;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

ul.home-tickerbox#m{
  border-radius: 0px;
}

.home-small-info-text {
  text-align: right;
  font-weight: normal;
  font-size: x-small;
  padding: 1% 2% 0% 0%;
  color: $selectedcomponent;
}

.home-ticker-title-text {
  text-align: center;
  font-weight: bolder;
  font-size: small;
  //padding: 1%;
}

.tickerbox-container {
  //padding: 4% 0% 10% 0%;
  //margin: 5% 0% 10% 0%;
  margin-top: 6%;
  height: 50px;
}

.ticker-wrapper {
  width: 70%;
  display: inline-flex;
  justify-content: space-between;
  font-weight: bolder;
  font-size: large;
}

.best-ticker-text-name {
  width: 100%;
  font-weight: bolder;
  animation: motion 0.5s;
}

.best-ticker-text-profit {
  width: 100%;
  font-weight: bolder;
  color: $increase;
  animation: motion 0.5s;
}

.worst-ticker-text-name {
  -webkit-user-select:none; 
  -moz-user-select:none; 
  -ms-user-select:none; 
  user-select:none;
  width: 100%;
  font-weight: bolder;
  color: transparent; 
  text-shadow: 0 0 5px #000; 
  transition: all 10ms ease-in; 
  animation: motion 0.5s;
}

.worst-ticker-text-profit {
  width: 100%;
  font-weight: bolder;
  color: $decrease;
  animation: motion 0.5s;
}

@keyframes motion {
	0% {padding-top: 7%;}
	//100% {margin-top: 20px;}
}

.home-rankbox {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid #c4c4c420;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

ul.home-rankbox#m {
  border-radius: 0px;
}

.home-rankbox-title-text {
  text-align: center;
  font-weight: bolder;
  font-size: small;
  margin-bottom: 5%;
}
  
ul.ranking-list {
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  margin: 0% 0% 2% 0%;
  background-color: #fff;
  border: 1px solid #c4c4c470;
  border-radius: 10px 10px 10px 10px;
}

.rank-color {
  width: 10%;
}

.list-text {
  font-weight: bolder;
  font-size: small;
}

.gold {
  color: $gold;
}

.silver {
  color: $silver;
}

.bronze {
  color: $bronze;
}