@import './color.scss';



div.category-container, .itemlist-container, .chart-container, .prediction-container{
  width: 80%;
  box-sizing: border-box;
  padding: 3%;
  margin: 5%;
  background-color: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px -1px 1px 6px rgba(0, 0, 0, 0.02);
}

.itemlist-container{
  display: flex;
  flex-direction: column;
}

#category-ul {
  display:inline;
  text-align: center;
  list-style:none;
  padding:0px 10px;
  
}

#category-li {
    display:inline;
    padding:0 16px;
    font-weight: bold;
    color: rgb(70, 77, 82);

}

#itemlist-searchform {
  float: right;
}

div#item-container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: large;
  
}

div#item-img {
  padding: auto;
  margin: auto;
  background: #BDBDBD;
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
}

div#item-name {
  padding: auto;
  margin: auto;
  width: 20%;
}

div#item-price {
  padding: auto;
  margin: auto;
  padding-left:10%;
  white-space:nowrap;
}

div#item-changed {
  padding: auto;
  margin: auto;
  padding-left:5%;
  display: flex;
  flex-direction: column;
  font-size:medium;
}

div#item-changedprice, #item-changedpercent {
  color: $increasedrate;
}

img.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.prediction-item-container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  // color: rgb(70, 77, 82);
}

div#prediction-top-text {
  font-weight: bold;
  color: #6C6FC6;
  padding-bottom: 7px;
}

div#prediction-item {
  display: flex;
  flex-direction: column;

  margin: 10px auto;
  padding: 0;
  overflow: hidden;
}

div#prediction-item-name {
  color: rgb(70, 77, 82);
}

div#prediction-item-valuePercent {
  background-color: #C4C4C4;
  color: #EB5374;
  margin: 10px;
  border: 1px;
  border-radius: 3px 3px 3px 3px;
}

// div#prediction-bottom-text {
//   font-size:smaller;
//   color: rgb(70, 77, 82);
//   font-weight: bold;
//   padding-bottom: 7px;
  
// }


div.trade-container{
  width: 80%;
  display: flex;
  flex-direction: row;
}



div.trade-img {
  padding: auto;
  margin: auto;
  width: 40px;
  height: 40px; 
  overflow: hidden;
}

//이미지 색상 변환 참고
//https://velog.io/@pm1100tm/CSS3-HTML-img-%ED%83%9C%EA%B7%B8%EC%97%90-%EB%84%A3%EC%9D%80-svg-%ED%8C%8C%EC%9D%BC%EC%9D%98-%EC%83%89%EC%83%81-%EB%B0%94%EA%BE%B8%EA%B8%B0

img.trade-item {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: invert(85%) sepia(11%) saturate(123%) hue-rotate(201deg) brightness(107%) contrast(91%);
}

div.trade-item {
  margin: 1px;
  padding: 16px 70px;
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  font-size: x-large;
  white-space:nowrap;
}

div#trade-purchase {
  background-color: #3c52e2;
  color: #e3e3ec;
  overflow: hidden;
  object-fit: cover;
}

div#trade-sell {
  background-color: #7181e9;
  color: #e3e3ec;
  overflow: hidden;
  object-fit: cover;
}

div#empty-space {
  margin: 150px 0px;
  padding: 16px 70px;
}