@import './color.scss';



.itemlist-container, .chart-container, .prediction-container{
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  margin: 5% 0%;
  background-color: #ffffff;
  border: 1px solid #c4c4c420;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

#m.itemlist-container, #m.chart-container, #m.prediction-container{
  border-radius: 0px;
  margin: 0px;
  margin-top: 8px;
}

div.category-container {
  width: 100%;
  box-sizing: border-box;
  padding: 3%;
  margin: 0%;
  background-color: #ffffff;
  border: 1px solid #c4c4c420;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

#m.category-container{
  border-radius: 0px;
  background-color: $background;
  box-shadow: none;
  border: none;
  padding: 0px;
  padding-top: 3%;
}

.itemlist-container{
  display: flex;
  flex-direction: column;
}

#category-div {
  display:inline;
  white-space:nowrap;
  list-style:none;
  padding:0px;
}

#category-div-m{
  display: flex;
  justify-content:space-evenly;
}

.selected-category {
  display:inline;
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-position: under;
  color: #6C6FC6;
  cursor: pointer;
}

.selected-category-m{
  display:inline;
  font-weight: normal;
  background-color: #5673EB;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.unSelected-category {
  display:inline;
  font-weight: bold;
  color: #C2C2C2;
  cursor: pointer;
}

.unSelected-category-m {
  display:inline;
  font-weight: normal;
  color: #C2C2C2;
  cursor: pointer;
  font-size: 14px;
}

#itemlist-searchform {
  float: right;
  margin-bottom: 3%;
  border: 1px solid #c4c4c4;
  border-radius: 10px 10px 10px 10px;
}

.itemlist-searchform-image {
  width: 13%;
  vertical-align: middle;
  object-fit: cover;
}

#itemlist-searchform-input {
  // border-top: 1px solid #C2C2C2;
  // border-left: 1px solid #C2C2C2;
  border: 0;
}



#itemlist-searchform-img {
  height: 10px;
  width: 10px;
  border-radius: 10px;
}


div#items-container {
  border-radius: 10px;    
  height: 300px;
  overflow-y: scroll;
}

/* 스크롤바 설정*/
#items-container::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
#items-container::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: rgb(204, 204, 204);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
#items-container::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}


div#item-container {
  height: 70px;
  margin: 3px 0px;
  display: flex;
  flex-direction: row;
  font-weight: bold;
  font-size: smaller;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    background: rgb(226, 226, 226);
  }
}

.item-img-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  overflow: hidden;
  margin-top: 15px;
  margin-left: 15px;
  border: 2px solid #c4c4c480;
}

.item-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

div#item-name {
  padding: auto;
  margin: auto;
  width: 20%;
}

div#item-price {
  padding: auto;
  margin: auto;
  padding-left:10%;
  white-space:nowrap;
}

div#item-changed {
  padding: auto;
  margin: auto;
  padding-left:5%;
  display: flex;
  flex-direction: column;
  font-size:medium;
}

// div#item-changedprice, #item-changedpercent {
//   color: $increasedrate;
// }

img.item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#chartInfo-div{
  font-weight: 550;
  font-size: smaller;
  margin: 15px;
}

div.chartInfo-date {
  text-align: center;
  color: #9c9c9c;
  font-size: medium;
  margin: 3px;
}

div.chartInfo {
  // margin: 15px;
  display: flex;
  flex-direction: row;
}

div.chartInfo-container{
  margin: 0px 5px;
  display: flex;
  flex-direction: row;
  width: 50%;
}

div.chartInfo-text{
  width: 50%;
  text-align: left;
}

div.chartInfo-data{
  width: 50%;
  text-align: right;
}

div.chartInfo-increased{
  width: 50%;
  text-align: right;
  color: #EB5374;
}

div.chartInfo-decreased{
  width: 50%;
  text-align: right;
  color: #5673EB;
}

div.prediction-item-container {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  // color: rgb(70, 77, 82);
}

div#prediction-top-text {
  font-weight: bold;
  color: #6C6FC6;
  padding-bottom: 7px;
}

#m #prediction-top-text{
  font-size: 15px;
}

div#prediction-item {
  display: flex;
  flex-direction: column;

  margin: 10px auto;
  padding: 0;
  overflow: hidden;
}

div#prediction-item-name {
  color: rgb(70, 77, 82);
}

div#prediction-item-increase {
  background-color: #C4C4C4;
  color: #EB5374;
  margin: 10px;
  border: 1px;
  border-radius: 3px 3px 3px 3px;
}

div#prediction-item-decrease {
  background-color: #C4C4C4;
  color: #5673EB;
  margin: 10px;
  border: 1px;
  border-radius: 3px 3px 3px 3px;
}

// div#prediction-bottom-text {
//   font-size:smaller;
//   color: rgb(70, 77, 82);
//   font-weight: bold;
//   padding-bottom: 7px;
  
// }


div.trade-container{
  width: 80%;
  display: flex;
  flex-direction: row;
}

#m.trade-container{
  margin-top: 8px;
}


// div.trade-img {
//   padding: auto;
//   margin: auto;
//   width: 40px;
//   height: 40px; 
//   overflow: hidden;
// }

//이미지 색상 변환 참고
//https://velog.io/@pm1100tm/CSS3-HTML-img-%ED%83%9C%EA%B7%B8%EC%97%90-%EB%84%A3%EC%9D%80-svg-%ED%8C%8C%EC%9D%BC%EC%9D%98-%EC%83%89%EC%83%81-%EB%B0%94%EA%BE%B8%EA%B8%B0

// img.trade-item {
  
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   filter: invert(85%) sepia(11%) saturate(123%) hue-rotate(201deg) brightness(107%) contrast(91%);
// }

div.trade-item {
  width: 50%;
  text-align: center;
  padding: 16px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  font-size: x-large;
  white-space:nowrap;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

div#trade-purchase {
  background-color: #3c52e2;
  color: #e3e3ec;
  overflow: hidden;
  object-fit: cover;
}

div#trade-sell {
  background-color: #3c52e2;
  color: #e3e3ec;
  overflow: hidden;
  object-fit: cover;
}

div#empty-space {
  margin: 150px 0px;
  padding: 16px 70px;
  font-weight: 500;
  color: #2c3ca8;
}

.trade-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.trade-modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.trade-modal > section {
  width: 90%;
  max-width: 450px;
  margin:0 auto;
  border-radius: 25px;
  background-color: #fff;
  animation: trade-modal-show .3s;
  overflow: hidden;
}


.trade-modal.trade-openModal {
  display: flex;
  border-radius: .3rem;
  align-items: center;
  animation: trade-modal-bg-show .3s;
}










.message-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.message-modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.message-modal > section {
  width: 50%;
  max-width: 350px;
  margin:0 auto;
  border-radius: 25px;
  background-color: #fff;
  animation: trade-modal-show .3s;
  overflow: hidden;
}


.message-modal.message-openModal {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: medium;
  font-weight: 500;
  animation: trade-modal-bg-show .3s;
}

div.message-header-container{
  // color: #5673EB;
  font-weight: bolder;
  font-size: large;
}

div.message-container{
  margin: 10px 0px 15px 0px;
}




div.modal-item-myinfo {
  width: 50%;
  float: right;
  text-align: right;
}


div.message-item-info {
  display: flex;
  flex-direction: row;
  background: #e2e2e2;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 30px 10px 30px;
  font-weight: bold;
}

div.message-item-text {
  width: 50%;
  float: left;
  text-align: left;
}

div.message-item-text-custom {
  display: flex;
  flex-direction: column;
  width: 50%;
  float: right;
  text-align: right;
}

div.message-item-myinfo-custom1 {
  float: right;
  text-align: right;
}

div.message-item-myinfo{
  float: right;
  text-align: right;
  width: 50%;

}

div.message-item-myinfo-increase {
  color: #EB5374;
  float: right;
  text-align: right;
  font-size: x-small;
}

div.message-item-myinfo-decrease {
  color: #5673EB;
  float: right;
  text-align: right;
  font-size: x-small;
}

div.modal-body-container{
  margin: 20px 0px;
}

.message-container {
  padding: auto;
  margin: auto;
}







div.modal-item-img {
  margin: 10px;
  background: #BDBDBD;
  width: 40px;
  height: 40px; 
  border-radius: 70%;
  overflow: hidden;
}

div.modal-header-container {
  display: flex;
  flex-direction: row;
}

div.modal-body-container{
  margin: 20px 0px;
}

div.modal-name-Btn{
  width: 90%;
  display: flex;
  flex-direction: row;
}

div.modal-item-name {
  padding: 10px 10px 10px 0px;
  margin: 10px 10px 10px 0px;
  width: 50%;
  float: left;
  text-align: left;
  font-weight: bold;
  font-size: large;
}

div.modal-item-dealBtn{
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
  width: 50%;
  float: right;
  text-align: right;
  font-weight: bold;
  text-align: right;
  font-size: large;
  color: #001AFF;
  cursor: pointer;
  
}

#modal-deal-label{
  cursor: pointer;
}

div.modal-item-info {
  display: flex;
  flex-direction: row;
  background: #e2e2e2;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 20px 10px 20px;
  margin: 10px 30px 10px 30px;
  font-weight: bold;
}

div.modal-item-text {
  width: 50%;
  float: left;
  text-align: left;
}

div.modal-item-myinfo {
  width: 50%;
  float: right;
  text-align: right;
}

div#modal-item-info-custom{
  margin-bottom: 2px;
}

div#trade-error {
  height: 15px;
  padding: 0px;
  margin: 0px 30px 0px 30px;
  text-align: right;
  font-size: small;
  font-weight: bold;
  color:#FF0000;
}
input:focus {outline:none;}

div.modal-item-myinput {
  display: flex;
  flex-direction: row;
  width: 50%;
  text-align: right;
}


//number 화살표 버튼 없애기
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#modal-input {
  background-color:transparent;
  border:none;
  font-weight: bold;
  text-align:right;
}

@keyframes trade-modal-show {
  from {
      opacity: 0;
      margin-top: -50px;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
@keyframes trade-modal-bg-show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
