@import './color.scss';

.menu-bar {
    position: sticky;
    top:0px;
    left:0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    height:100%;
    width:240px;
    margin-right: 80px;
  }

  ul.tabs {
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #c4c4c420;
    border-radius: 10px 10px 10px 10px;
    padding-left: 0;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

ul.tabs li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

ul.tabs li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tabs li {
    font-family: "Noto Sans KR";
    display:block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 12px;
    padding-left: 25px;
    font-size:14px;
    font-weight: bolder;
}

a:hover{
    cursor: pointer;
    text-decoration: underline 2px;
    text-underline-position: under;
    color: $selected-menu;
}

.active{
    text-decoration: underline 2px;
    text-underline-position: under;
    color: $selected-menu;
}

a {
    color: $font-color;
    text-decoration: none;
  }

  .tabs li.user-profile{
      display: inline-flex;
      padding-left: 8px;
      padding-right: 0px;
      padding-top: 10px;
      padding-bottom: 6px;
      border-bottom: 1px solid #c4c4c480;
  }

.tabs .user-name{
    font-size:13.5px;
    font-weight: bold;
    padding-left: 48px;
    padding-right: 0px;
    line-height: 40px;
    overflow: hidden;
  }

 .tabs .user-ment{
      font-size: 12px;
      font-weight: normal;
      padding-left: 0px;
      line-height: 40px;
  }

  .profile-img-box{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
        border: 2px solid #c4c4c480;
        width: 38px;
        height: 38px;
        border-radius: 70%;
        background-color: #fff;
    }

    .profile-img-box > img {
        width: 43px;
        height: 43px;
        object-fit: cover;
    }


    .logo{
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        background-color: #fff;
        border: 1px solid #c4c4c420;
        border-radius: 10px 10px 10px 10px;
        padding-left: 0;
        box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
        margin-bottom: 16px;
        padding: 10px;
        color: #5673EB;
        font-weight: bolder;
    }
