
.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 420px;
    margin:0 auto;
    border-radius: .3rem;
    background-color: #fff;
    animation: modal-show .3s;
    overflow: hidden;
}
.modal > section > header {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 16px 64px 16px 64px;
    background-color: #f1f1f1;
    font-weight: 700;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 26px;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {
    padding: 16px;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
}

.modal > section> main#modify {
    border-bottom: none;
    padding-bottom: 0px;
}

.check-nickname{
    font-size: 13px;
    text-align: left;
    padding-top: 3px;
    padding-left: 8px;
    color: rgb(105, 135, 253);
    font-weight: bolder;
}

.modal > section > footer {
    padding: 6px 16px;
    text-align: right;
}

.modal > section > footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 14px;
}

.modal > section > footer button.modify {
    width: 30%;
    padding: 6px 12px;
    color: #c4c4c4;
    background-color: #fff;
    border: 2px solid #c4c4c4;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}

.modal > section > footer button.modify#possible {
    color: rgb(105, 135, 253);
    border: 2px solid rgb(105, 135, 253);
}

.modal.openModal {
    display: flex;
    align-items: center;
    animation: modal-bg-show .3s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Container{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
}

.detail-trade-list{
    border-bottom: 2px solid #c4c4c4;
    font-weight: bold;
    width: 100%;
    display: flex;
    padding: 3px;
}

.detail-trade-list ul{
    margin: 3px 0px 3px 0px;
    
}

.detail-trade-list ul li{
    display: flex;
    flex-direction: column;
}

.detail-trade-left li:first-child{
    padding-bottom: 0px;
    font-size: 16px;
}

.detail-trade-left li:last-child{
    padding-top: 0px;
    font-size: 11.5px;
    color: #464D52;
}

ul.detail-trade-right{
   margin-right: 60px;
}

.detail-trade-right li:first-child{
    font-size: 16px;
}

.detail-trade-right li:last-child{
    color: #747474;
    font-size: 12px;
}

div#lists-container {
    border-radius: 10px;   
    width: 100%; 
    height: 234px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #lists-container::-webkit-scrollbar{
    width: 6px;
  }

#lists-container::-webkit-scrollbar-thumb{
    height: 17%;
    background-color: rgb(204, 204, 204);
    border-radius: 10px;    
  }
  
  #lists-container::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
  }

.modal-input{
    width: 95%;
    height: 50px;
    outline: none;
    border: 0px solid #c4c4c4;
    background-color:#f1f1f1;
    border-radius: 16px;
    font-size: 13px;
    padding-left: 16px;
}

input::placeholder{
    font-size: 13px;
}

.modal .mobile-modal-section {
    border-radius: 16px;
    background-color: #fff;
}

.modal .mobile-modal-header {
    background-color: #fff;
}

.mobile-modal {
    padding: 0px 6% 0px 6%;
}