@import './color.scss';

ul.prediction-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3% 0% 3% 0%;
    margin: 0;
    background-color: #fff;
    border: 1px solid #c4c4c420;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

ul.prediction-container#m {
    border-radius: 0px;
    width: 100%;
}

.searchform-container {
    width: 42%;
    display: flex;
    padding: 0.5%;
    margin: 2% 0% 8% 50%;
    border: 1px solid #c4c4c420;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);
}

.search-image {
    width: 12%;
    margin:1% 1% 0% 2%;
    vertical-align: middle;
}
  
.searchform-input {
    width: 80%;
    border: 0;
}

.prediction-textbox {
    width: 85%;
    margin-left: 5%;
    padding-left: 0%;
    float: left;
    text-align: left;
}

#prediction-title-text {
    font-weight: bolder;
    font-size: larger;
}

#prediction-title-spantext {
    font-weight: bolder;
    font-size: larger;
    color: $decrease;
}

#prediction-explain-text {
    font-size: x-small;
}

#prediction-name-text {
    font-weight: bolder;
    color: $decrease;
}

.prediction-category-box {
    width: 70%;
    display: flex;
    margin-left: auto;
    margin-bottom: 1%;
    font-weight: 500;
    font-size: smaller;
}

#prediction-category-text1 {
    width: 28%;
    height: 3ex;
    margin-left: 12%;
    padding: 0;
}

#prediction-category-text2 {
    width: 28%;
    height: 3ex;
    margin-left: 0%;
    padding: 0;
}

#prediction-category-text3 {
    width: 28%;
    height: 3ex;
    margin-left: 1%;
    padding: 0;
}

.predict-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3%;
}

.predict-name-text {
    width: 28%;
    height: 3ex;
    margin: 0% 0% 0% 2%;
    padding: 2% 4% 2% 4%;
    font-weight: 500;
    font-size: smaller;
    background-color: $background;
    border-radius: 10px 10px 10px 10px;
}

.predict-listbox {
    width: 10%;
    margin: 0% 0% 0% 0.5%;
    padding: 2.2% 4.8% 2% 5%;
    font-weight: bolder;
    font-size: smaller;
    background-color: $background;
    border-radius: 10px 10px 10px 10px;
}

.serach-available {
    width: 90%;
    margin: 0% 0% 0% 1%;
    padding: 2% 4% 2% 4%;
    font-weight: 500;
    font-size: smaller;
    background-color: $background;
    border-radius: 10px 10px 10px 10px;
}