.profile-info{
    width: 100%;
    padding-top: 15%;
}

.profile-tabs {
    width: 80%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.info{
    display: inline-flex;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    font-size: larger;
    box-sizing: border-box;
}

ul#profile-menu {
    margin-top: 0px;
}

ul#profile-menu li{
    border-bottom: 1px solid #c4c4c4;
    color: $font-color
}

ul#profile-menu li a:hover{
    cursor: auto;
    font-weight:bold;
    text-decoration: none;
    color: $font-color;
}

.profile-img-box-large{
    width: 50px;
    height: 50px; 
    border-radius: 70%;
    overflow: hidden;
}