@import './color.scss';

ul.category-container {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    padding: 3%;
    margin: 5%;
    margin-bottom: 0%;
    font-size: smaller;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.selected-category {
    display: inline;
    padding: 0 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #6C6FC6;
    cursor: pointer;
}
  
.unselected-category {
    display: inline;
    padding: 0 16px;
    font-weight: bold;
    color: #C2C2C2;
    cursor: pointer;
}

ul.ranking-container {
    width: 80%;
    padding: 3%;
    margin: 5%;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.select-container {
    width: 20%;
    float: left;
    margin-top: 0.5%;
    padding: 1.5% 0% 1.5% 4.5%;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: x-small;
    font-weight: bolder;
    cursor: pointer;
}

.select-option {
    //border: 0;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
}

.searchform-container {
    float: right;
    //padding: 1%;
    margin-bottom: 10%;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.search-image {
    width: 13%;
    vertical-align: middle;
    object-fit: cover;
}
  
.searchform-input {
    border: 0;
}

.ranking-list {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    padding: 2% 5% 2% 5%;
    margin: 1.5%;
    background-color: #fff;
    border: 1px solid #c4c4c4;
    border-radius: 10px 10px 10px 10px;
}

.list-text {
    font-weight: bolder;
    font-size: small;
}